<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>proxibanqueV2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fr.gtm.proxibanqueV2.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeClientServlet</servlet-name>
    <servlet-class>fr.gtm.proxibanqueV2.web.ListeClientServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifierClientServlet</servlet-name>
    <servlet-class>fr.gtm.proxibanqueV2.web.ModifierClientServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupprimerClientServlet</servlet-name>
    <servlet-class>fr.gtm.proxibanqueV2.web.SupprimerClientServlet</servlet-class>
  </servlet>
  
 <!--  <filter>
  <filter-name>Filtre.Authentification</filter-name>
  <filter-class>class du filtre</filter-class>
  </filter>
  
  <filter-mapping> 
    <filter-name>Filtre.Authentification</filter-name>
    <url-pattern>/helloworld</url-pattern>
    <url-pattern>/articles/*</url-pattern>
    <url-pattern>/manage</url-pattern>
  </filter-mapping>
   -->
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeClientServlet</servlet-name>
    <url-pattern>/listClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifierClientServlet</servlet-name>
    <url-pattern>/updateClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupprimerClientServlet</servlet-name>
    <url-pattern>/deleteClient</url-pattern>
  </servlet-mapping>
</web-app>